h1{color:rgb(255, 255, 255);}



#sufijo_1{font-family:'arial';  font-size: 1em; font-weight: bold; color:red}
#sufijo_2{font-family:'arial';  font-size: 0.9em; font-style: italic; color:blue}
#sufijo_3{font-family:'arial';  font-size: 1em; font-style: italic; color:rgb(5, 138, 34)}
#sufijo_4{font-family:'arial';  font-size: 1em; font-weight: bold; color:#FF0080}
#sufijo_5{font-family:'arial';  font-size: 1em; font-weight: bold; color:#1cbd00}
#sufijo_6{font-family:'arial';  font-size: 1em; font-weight: bold; color:purple}
#sufijo_7{font-family:'arial';  font-size: 1em; font-weight: bold; color:#0CB7F2}
#sufijo_8{font-family:'arial';  font-size: 1em; font-weight: bold; color:#FF7F00}
#sufijo_9{font-family:'arial';  font-size: 1em; font-weight: bold; color:#8D4925}
#sufijo_10{font-family:'arial';  font-size: 0.9em; font-style: italic; color:#969595}
#sufijo_11{font-family:'arial';  font-size: 1em; font-weight: bold; color:#008080}
#sufijo_12{font-family:'arial';  font-size: 0.9em; font-style: italic; color:#0CB7F2}
#sufijo_20{font-family:'arial';  font-size: 1em; font-style: italic; color: rgb(189, 59, 8)}

body{

    font-family: 'arial';
    font-size: 1em;
    
    margin:0;

}

header {

    display:flex;
    height: 70px;
    background-color: rgb(189, 59, 8);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    
    
}

a{
text-decoration: none;
color: white;

}

nav a{
font-weight: 600;
padding-right: 30px;

}

nav a:hover{
color: white;

}





.contenedor{
    width: 900px;
    margin:auto
}




#segmento {width: 100%;}

#selector {width:100%}

#selector1 {width:100%}

#selector2 {width:100%}



#segmento summary{
    color:rgb(151, 83, 6);
    font-weight: 545;
    display:block;
    padding: 10px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #ca984d;
    text-decoration: none;
    /*display: flex;*/
    align-items: center;
    
    
    
        
}



#segmento summary:hover{
    background-color: #e6e6e6;
    
   
    
}





#selector summary{
    font-size: 0.9em;
    color:rgb(168, 34, 34);
    
   
    display: flex;
    align-items: center;
    height: 1em;
    
    
  
    
    
}


#texto_1 p{
   

    
    
    align-items: center;
    color: #0CB7F2;
    line-height: 2;
    font-size: 1em;
   

        
       


}

#texto_2{

    color:#008080;
    font-size: 1em;
    padding: 5px;

}



/*

#selector ol li p {
    
   display: flex;
    align-items: center;
    margin-left: 0px;
    height: 0em;
  
    
    
}
*/


#selector1 {

    margin-left: 50px;
    
    
    
}


#selector2 li {

    
    display:block;
    color: black;
    font-size: 0.9em;
    /*padding: 4px;*/
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    
    border-color: #279247;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 2em;
        
}


#parrafos li {

    
    font-size: 0.9em;
    /*padding: 4px;*/
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    gap: 8px;
    border-color: #279247;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    
        
}



#selector3 li a{

    color: black;
    display:block;
    padding: 4px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    
    border-color: #279247;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}



#selector3 li a:hover{
    background-color: #c53838;
    
   
    
}


/* Estilos específicos para pantallas anchas (desde 900px) */
@media screen and (min-width: 900px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar a {
      margin-left: 20px;
    }
  }
  
  /* Estilos específicos para pantallas medianas (desde 601px hasta 899px) */
  @media screen and (min-width: 601px) and (max-width: 899px) {
    .header {
      font-size: 18px;
    }
  
    .navbar {
      flex-direction: column;
    }
  
    .navbar a {
      margin: 10px 0;
    }
  }
  
  /* Estilos específicos para pantallas pequeñas (hasta 600px) */
  @media screen and (max-width: 600px) {
    .header {
      font-size: 14px;
    }
  
    .navbar {
      flex-direction: column;
    }
  
    .navbar a {
      margin: 10px 0;
    }
  }

  .contenedor1 {
    width: 50%; /* O cualquier otro porcentaje que desees */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Espacio interno */
  }
  
  /* Estilos específicos para pantallas pequeñas (hasta 600px) */
  @media screen and (max-width: 600px) {
    .contenedor1 {
      width: 100%; /* Ancho del 100% en pantallas pequeñas */
    }
  }
