h1{color:rgb(255, 255, 255);}



#sufijo_1{font-family:'arial';  font-size: 1em; font-weight: bold; color:red}
#sufijo_2{font-family:'arial';  font-size: 1em; font-style: italic; color:blue}
#sufijo_3{font-family:'arial';  font-size: 1em; font-style: italic; color:rgb(5, 138, 34)}
#sufijo_4{font-family:'arial';  font-size: 1em; font-weight: bold; color:#FF0080}
#sufijo_5{font-family:'arial';  font-size: 1em; font-weight: bold; color:#1cbd00}
#sufijo_6{font-family:'arial';  font-size: 1em; font-weight: bold; color:purple}
#sufijo_7{font-family:'arial';  font-size: 1em; font-weight: bold; color:#0CB7F2}
#sufijo_8{font-family:'arial';  font-size: 1em; font-weight: bold; color:#FF7F00}
#sufijo_9{font-family:'arial';  font-size: 1em; font-weight: bold; color:#8D4925}
#sufijo_10{font-family:'arial';  font-size: 0.9em; font-style: italic; color:#969595}
#sufijo_11{font-family:'arial';  font-size: 1em; font-weight: bold; color:#008080}

body{

    font-family: 'arial';
    font-size: 1em;
    
    margin:0;

}

header {

    display:flex;
    height: 70px;
    background-color: rgb(189, 59, 8);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    
    
}

a{
text-decoration: none;
color: white;

}

nav a{
font-weight: 600;
padding-right: 30px;

}

nav a:hover{
color: white;

}





.contenedor{
    width: 900px;
    margin:auto
}




#segmento {width: 100%;}

#selector {width:100%}

#selector1 {width:100%}

#selector2 {width:100%}



#segmento summary{
    color:rgb(151, 83, 6);
    font-weight: 545;
    display:block;
    padding: 10px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #ca984d;
    text-decoration: none;
    /*display: flex;*/
    align-items: center;
    
    
    
        
}



#segmento summary:hover{
    background-color: #e6e6e6;
    
   
    
}





#selector summary{
    font-size: 0.9em;
    color:rgb(168, 34, 34);
    
   
    display: flex;
    align-items: center;
    height: 1em;
    
    
  
    
    
}


#texto_1 p{
   

    
    display:inline-block;
    align-items: center;
    color: #0CB7F2;
    line-height: 2;
   

        
       


}

#texto_2{

    color:#008080;
    font-size: 1em;
    padding: 5px;

}
/*

#selector ol li p {
    
   display: flex;
    align-items: center;
    margin-left: 0px;
    height: 0em;
  
    
    
}
*/


#selector1 {

    margin-left: 50px;
    
    
    
}


#selector2 li {

    
    display:block;
    color: black;
    font-size: 0.9em;
    /*padding: 4px;*/
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    
    border-color: #279247;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 2em;
        
}


#parrafos li {

    
    display:block;
    /*padding: 4px;*/
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    
    border-color: #279247;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    
        
}



#selector3 li a{

    color: black;
    display:block;
    padding: 4px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    
    border-color: #279247;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}



#selector3 li a:hover{
    background-color: #c53838;
    
   
    
}
